body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(52, 80, 204);
    margin: 0 auto;
    align-items: center;
}

.info-box {
    border: 1px solid #ccc; /* Border color */
    padding: 20px; /* Padding inside the box */
    margin: 20px auto; /* Center the box horizontally */
    width: 30%; /* Width of the box */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

